<!DOCTYPE html>
<html lang="en">
   <head>

	  <meta charset="utf-8">
      <meta name="description" content="Blog of Nash Reilly, engineer, programmer, musician, and dork-at-large">
      <meta name="author" content="Nash Reilly">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/css/syntax.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/favicon.ico" type="image/x-icon">
      <link rel="alternate" type="application/atom+xml" href="/atom.xml">
      <title>{{ page.title }}</title>
   </head>
   
   <body>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- leaderboard ad -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-1713357315250602"
     data-ad-slot="1978420771"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      <main>
         <header>
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
         </header>
         <div id="section">
         {{ content }}

         </div>

          <nav id="sidebar"></nav>

      </main>

   
   </body>
</html>
